/*styling for jumboton
- skinny
- full width
- color
- gradient*/

.jumbotron {
    background-image: linear-gradient(to right, rgb(47, 13, 183), rgb(167, 188, 210));
    color: white;
    text-align: center;
}

;


/*
styling for left hand side form 
- blue search button

styling for left hand side citys from LS 
- they are button 
- gray
- smol

styling for right hand side top container 
- icon ( mebbbe it come from th api? )
- otherwise, plain


/*styling for right hand side bottom container 
- cards
- padding 
- dark blue bkg
- icon
- white text */